//VARIABLES
$color-main: #0075FF;
$color-footer: #c8c8c8;

//MIXINS
@mixin btn-base {
    padding: 0.25rem 1.5rem;
    margin: 0.1rem;
    border-radius: 0.25rem;
    font-weight: 600;
}
@mixin btn-sm-modified {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}
//COMPONENTES DE ESTILO
.btn-main{
    background-color: $color-main;
    color: white;
    @include btn-base();
    border: none;
    border: solid 1px $color-main;

    &:hover{
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }
    &-s{
        @extend .btn-main;
        @include btn-sm-modified();
    }
}

.btn-sec{
    @extend .btn-main;
    color: #000;
    background-color: #c8c8c8;
    color: #f4f8fe;
    border: 1px solid white;

    &:hover{
        color: #888;
        border: 1px solid  #c8c8c8;
    }
    &-s{
        @extend .btn-sec;
        @include btn-sm-modified();

    }
}

.main-menu{ 
    margin-bottom: 0;
    li{
        font-size: 0.5rem;
        list-style: none;
        display: inline;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
     }
}
.icon-sm{
    i{
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        color: $color-main;
        border-radius: 50%;
        box-shadow: 0 4px 10px #00000050;
    }
}
.feature{
    display: flex;
    flex-direction: column;
    .icon{
        color: $color-main;
        font-size: 10rem;
        text-align: center;

    }
    .description{
        .title{
            font-size: 2rem;
            text-align: center;
        }   
        .text{
            color: #888;
            font-weight: 600;
            text-align: center; 
        }
    }
    .cta{
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}
.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i{
        padding: 0;
        color: $color-main;
        font-size: 10rem;
    }
    .title{
        margin-top: -2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}